Options +FollowSymlinks
RewriteEngine On
RewriteBase /
RewriteOptions Inherit

# redirects everything
# to fix
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

# exclude a directory from redirection madness
RewriteCond %{REQUEST_URI} !^/static/

RewriteRule ^(.*)$ index.php [NC,L,QSA]